/***************************************** Variables */
:root{
    /*------ Colores */
    --color-Secundario: #FFC70D;
    --color-Secundario2: #C2CDFF;
    --color-Background: #30003a;
    --color-Background2: #020121;
    --color-Primario: #8904A5;
    --color-white:#FFFFFF;
    --color-black:#000000;
    --color-Negative: #820202;
    --color-Positive: #00E908;
    /*------ Tipografía */
    --fontSize-25:25px;
    /*------ Espaciado */
    --padding-1:10px;
    --padding-20:18px;
    --padding-2:25px;
    --padding-3:35px;
    --padding-4:45px;
    --padding-5:50px;
    /*------ Box */
    --BoxVar:0px 0 5px 3px var(--color-Background);
}

/***************************************** NAV */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(var(--color-Background), var(--color-Background2));
}
nav a{
    text-decoration: none;
    color: var(--color-Secundario);
    font-size: var(--fontSize-25);
}
nav a:hover{
    color: var(--color-Secundario2);
}
nav ul {
    display: flex;
}
nav ul li{
    padding-right: var(--padding-2);
    list-style: none;
}

nav li button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: var(--color-white);
}
nav li button:hover {
    color: var(--color-Positive);
}

.nav li a {
    background-color:transparent;
    color: var(--color-white);
    text-decoration:none;
    font-size: var(--padding-20);
}
.nav li a:hover {
    color: var(--color-Positive);
}

/***************************************** BODY */
body{
    background-color: var(--color-Background2);
    color: var(--color-Secundario2);
    font-size: var(--fontSize-25);
    font-weight: bold;
    margin:0;
    margin-bottom: var(--padding-1);
}

body.es [lang=en] {
    display: none;
}
body.en [lang=es] {
    display: none;
}
/***************************************** Footer */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;

    font-size: var(--fontSize-25);
    font-weight: bold;

    background-image: linear-gradient(var(--color-Background2), var(--color-Background));
    color: var(--color-Primario);
}
footer div {
    margin: var(--padding-2);
}
footer a {
    color: var(--color-Secundario);
}
footer a:hover{
    color: var(--color-Background);
}
footer img {
    max-width: var(--padding-3);
    max-height: var(--padding-3);
}