.container {
    max-width: 900px;
    margin:auto;
}

.row {
    display: flex;
}

/* Todas las clases que contengan la palabra "col" */
div[class^="col"] {
    padding: 0;
    display: flex;
}

@media (max-width: 500px) {
    .row{
        display: inherit;
    }
    div[class^="col"] {
        width: 100%;
    }
    .profileImg {
        max-width: 80%;
        margin-top: 0;
        margin-bottom: 50px;
    }
    nav, ul, li{
        position: relative;
        flex-direction: column;
    }
    footer {
        position: relative;
        flex-direction: column;
    }
}

/******************************** Columnas *************************/
.col-1 {
    width: calc(100%/12);
}
.col-2 {
    width: calc(100%/12*2);
}
.col-3 {
    width: calc(100%/12*3);
}
.col-4 {
    width: calc(100%/12*4);
}
.col-5 {
    width: calc(100%/12*5);
}
.col-6 {
    width: calc(100%/12*6);
}
.col-7 {
    width: calc(100%/12*7);
}
.col-8 {
    width: calc(100%/12*8);
}
.col-9 {
    width: calc(100%/12*9);
}
.col-10 {
    width: calc(100%/12*10);
}
.col-11 {
    width: calc(100%/12*11);
}
.col-12 {
    width: calc(100%/12*12);
}